header {
	height: 70px;
	background-image: url(../img/headerBack.png);
}

.row-header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(65, 134, 143, 0.8);
}

.logo {
	height: 20%;
}

.wrapperPhoneMail,.wrapperLK {
	font-size: 1.4em;
 	display: flex;
	height: 100%;
 	align-items: center;
	color: white;
    width: 350px;
    justify-content: center;
}

.dropdownmenu-wrapper {
    width: inherit;
    position: absolute;
    top: 70px;
    z-index: 999;
    text-align: center;
    display: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.dropdownmenu-item {
    background: #dbdbdb;
    border-left: black 1px solid;
    border-right: black 1px solid;
    border-top: black 1px solid;
}

.dropdownmenu-item:last-child {
    border-radius: 0 0 10px 10px;
    border-bottom: black 1px solid;
}

.dropdownmenu-title:hover {
    text-decoration: underline;
}


.wrapperPhoneMail {
	width: 100%;
	margin-left: 10%;
}

.col-WithLogo {
	display: flex;
	align-items: center;
}

.logMLeft {
	margin-left: 20%;
}

.col-flex {
	display: flex;
	justify-content: center;
}

/*@media only screen and (min-width: 767px) {*/
	/*.wrapperPhoneMail,.wrapperLK {*/
		/*font-size: 1.2em;*/
	/*}*/

    /*.dropdownmenu-wrapper {*/
        /*width: 150px;*/
    /*}*/
/*}*/

@media only screen and (max-width: 864px) {
	.wrapperPhoneMail,.wrapperLK {
		font-size: 1.1em;
	}

    .dropdownmenu-wrapper {
        width: 150px;
    }
}

@media only screen and (max-width: 500px) {
	.wrapperPhoneMail,.wrapperLK {
		font-size: 1em;
	}
	.logMLeft {
		margin-left: 10%;
	}
}

@media only screen and (max-width: 450px) {
	.wrapperPhoneMail,.wrapperLK {
		font-size: 0.9em;
	}
	.logMLeft {
		margin-left: 5%;
	}
}

@media only screen and (max-width: 410px) {
	.wrapperPhoneMail,.wrapperLK {
		font-size: 0.9em;
	}
	.logMLeft {
		width: 80%;
	}
}

/* @media only screen and (max-width: 880px) {
	.wrapperPhoneMail,.wrapperLK {
		font-size: 1.3em;
	}
}

@media only screen and (max-width: 745px) {
	.wrapperPhoneMail,.wrapperLK {
		font-size: 1.2em;
	}
}

@media only screen and (max-width: 700px) {
	.wrapperPhoneMail,.wrapperLK {
		font-size: 1.1em;
	}
}

@media only screen and (max-width: 652px) {
	.wrapperPhoneMail,.wrapperLK {
		font-size: 1.0em;
	}
}

@media only screen and (max-width: 606px) {
	.wrapperPhoneMail,.wrapperLK {
		font-size: .8em;
	}
}

@media only screen and (max-width: 510px) {
	.wrapperPhoneMail,.wrapperLK {
		font-size: .7em;
	}
}

@media only screen and (max-width: 464px) {
	.wrapperPhoneMail,.wrapperLK {
		font-size: .6em;
	}
}

@media only screen and (max-width: 416px) {
	.wrapperPhoneMail,.wrapperLK {
		font-size: .5em;
	}
}

@media only screen and (max-width: 368px) {
	.wrapperPhoneMail,.wrapperLK {
		font-size: .4em;
	}
}

@media only screen and (max-width: 320px) {
	.wrapperPhoneMail,.wrapperLK {
		font-size: .3em;
	}
} */
